* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* input[type="number"] {
  -moz-appearance: textfield;
}

header.nav_header {
  background-color: cornflowerblue;
  padding: 20px 40px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav div.nav_item {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav div.nav_item a {
  text-decoration: none;
}

header.nav_header nav div.logo {
  font-size: 2rem;
}

header.nav_header nav div.logo a.logolonk {
  text-decoration: none;
}

header.nav_header nav div.logo a.logolonk :visited {
  text-decoration: none;
}

form input {
  border: #999999 1px solid;
  border-radius: 4px;
}

.js-example-basic-multiple {
  width: 75%;
}

.rid {
  display: none;
}

.friend_box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.favorite_box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.friend_case {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}

.favorite_case {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}

.favorite_store_t {
  background-color: goldenrod;
}

.favorite_store_f {
  background-color: grey;
}

.restaurant_box {
  border: solid 4px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review_box {
  border: solid 4px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pagination {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination,
.pagination * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.pagination a.disabled {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination a.current {
  background: #f3f3f3;
}

#restaurant_container {
  padding: 4vh 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#detail_name {
  color: cornflowerblue;
}

#detail_display {
  padding: 8vh 15vw;
  border: solid 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#selected_fire {
  width: 7vw;
  height: 4vw;
}

#selected_fire_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#extra_profile {
  border: solid 2px;
}

#friend_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#favorite_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filters {
  padding: 8vh 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */