* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* input[type="number"] {
  -moz-appearance: textfield;
}

.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255, 255, 255, 0.1);
}

div.title {
  font-size: 2em;
}

h1 span {
  font-weight: 300;
  color: #Fd4;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 0.23rem;
  font-size: 1.2rem;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.rev-box {
  overflow: hidden;
  height: 0;
  width: 100%;
  -webkit-transition: all .25s;
  transition: all .25s;
}

textarea.review {
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #EEE;
}

label.review {
  display: block;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

input.star:checked ~ .rev-box {
  height: 125px;
  overflow: visible;
}

form input {
  border: #999999 1px solid;
  border-radius: 4px;
}

header.nav_header {
  padding: 20px 40px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav.outer_nav {
  width: 100%;
}

header.nav_header nav.outer_nav nav.inner_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav.outer_nav nav.inner_nav div.nav_item {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav.outer_nav nav.inner_nav div.nav_item a {
  text-decoration: none;
}

header.nav_header nav.outer_nav nav.inner_nav div.logo {
  font-size: 2rem;
}

header.nav_header nav.outer_nav nav.inner_nav div.logo a.logolonk {
  text-decoration: none;
}

header.nav_header nav.outer_nav nav.inner_nav div.logo a.logolonk :visited {
  text-decoration: none;
}

p.item_name_p {
  font-size: 141%;
  display: inline-block;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 7px;
  cursor: pointer;
}

p.item_name_p:hover {
  background-color: #f295b3;
  color: white;
}

p.item_rating_plv_p {
  font-size: 89%;
}

p.item_address_p {
  font-size: 119%;
}

p.item_ophours_p {
  font-size: 119%;
}

p.item_opdays_p {
  font-size: 100%;
}

p.weblink a {
  color: black;
  font-size: 100%;
}

a.weblink_a {
  background-image: -webkit-gradient(linear, left top, right top, from(#dd94c8), color-stop(50%, #dd94c8), color-stop(50%, #000));
  background-image: linear-gradient(to right, #dd94c8, #dd94c8 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.weblink_a:before {
  content: '';
  background: #dd94c8;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.weblink_a:hover {
  background-position: 0;
}

a.weblink_a:hover::before {
  width: 100%;
}

.js-example-basic-multiple {
  width: 75%;
}

.js-example-basic-single {
  border-radius: 7px;
  max-height: 47px;
}

.full_op_box {
  width: auto;
  height: auto;
  padding: 0.28rem;
  background-color: #fbc2d4f5;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 7px;
  z-index: 528;
}

.div_in_empty_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div_in_empty_div div {
  display: inline-block;
}

.ophours_content_sub_div {
  padding: 0 0.23rem;
  min-width: 5rem;
}

.ophours_content_separator {
  border-left: #999999 1px solid;
}

.filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.3rem;
}

.filter_title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.filter_title_text {
  border-bottom: 1px solid #999999;
  font-size: 100%;
  display: inline-block;
}

.profile_div_box {
  padding: 1rem;
  margin: 5px;
  width: 89%;
  background-color: #fcfcfcfc;
  -webkit-box-shadow: 10px 5px 5px black;
  box-shadow: 0 3px 3px 0 #626262;
  height: auto;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
}

.profile_filling {
  font-size: 28px;
}

.starred_icon {
  background-image: url("../icon/star_glow.png");
  height: 1rem;
}

.friend_box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favorite_box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friend_case {
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friend_right_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant_box_left_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
}

.restaurant_box_left_hemi img {
  border-radius: 7px;
}

.restaurant_box_dura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 13px;
  margin-left: 10px;
  border-left: #dddddddd 1px solid;
}

.op_text_div {
  padding: 0 3px;
}

.op_text_p {
  cursor: pointer;
}

.favorite_case {
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
}

.favorite_store_t {
  background-color: goldenrod;
}

.favorite_ff {
  width: 32px;
  display: inline-block;
  height: 0.74rem;
  border: 2px solid #777777;
  border-radius: 0.37rem;
  padding-bottom: 0.24rem;
  cursor: pointer;
}

.favorite_ff:hover {
  background-color: goldenrod;
}

.social_info_div {
  margin-top: 0.7rem;
}

.item_social_info_p {
  font-size: 79%;
}

.restaurant_box {
  background-color: #f8f8f8ee;
  padding: 10px;
  margin: 2vh 2vw;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_ophours_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.item_address_div {
  margin-top: 1rem;
}

.op_cond {
  border: #999999 1px solid;
  border-radius: 7px;
}

.review_box {
  border-radius: 7px;
  padding: 10px;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
}

.native_new_review_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  border-radius: 7px;
  padding: 0.67rem;
  margin: 0.23rem 0;
  background-color: #f3f3f3;
  border-bottom: #999999 1px solid;
}

.native_new_review_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.native_new_review_content {
  max-height: 300px;
}

.native_new_review_content span {
  display: inline-block;
}

.native_new_review_content textarea {
  border-radius: 7px;
}

.native_new_review_bottom {
  height: 35px;
}

.native_new_review_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.67rem;
}

.native_new_review_title input {
  border-radius: 7px;
}

.native_new_review_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.native_new_review_time p {
  font-size: 1rem;
  color: #9c9c9c;
}

.native_new_review_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.native_review_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  border-radius: 7px;
  padding: 0.67rem 6rem;
  margin: 0.23rem 0;
  background-color: #f3f3f3;
  border-bottom: #999999 1px solid;
}

.native_review_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.native_review_content {
  max-height: 300px;
  width: 100%;
}

.native_review_content span {
  display: inline-block;
}

.native_rating_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.native_rating_container img {
  width: 1.18rem;
  margin-right: 0.27rem;
}

.native_review_bottom {
  height: 35px;
}

.native_review_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.97rem;
  margin-top: 0.3rem;
  margin-left: 0.67rem;
  padding-left: 1.67rem;
  border-left: #9c9c9c 1px solid;
}

.native_review_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.native_review_time p {
  font-size: 1rem;
  color: #9c9c9c;
}

.native_review_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty_review_div {
  width: 100%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  background-color: #f3f3f3;
}

.container-login100 {
  height: auto;
}

.review_user_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.review_user_name_div p {
  font-size: 1.41rem;
}

.review_user_name_date_div {
  margin-left: 0.67rem;
}

.fresh_review_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fresh_review_head div {
  width: auto;
}

.fresh_review_neck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fresh_review_head_neck {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #13345678;
}

.fresh_review_body {
  border-bottom: 1px solid #13345678;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 5rem;
  margin: 0.31rem 0;
}

.fresh_review_legs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 11px;
}

.fresh_review_legs div {
  border-radius: 7px;
}

.pagination {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination,
.pagination * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.pagination a.disabled {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination a.current {
  background: #f3f3f3;
}

.btn_medium {
  border-radius: 7px;
}

.btn-primary_light {
  background-color: #ffffff66;
  border-color: #F195B2;
  margin: 0 1rem;
}

.status_1 {
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #999999;
}

.status_2 {
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #ef4455;
}

.status_3 {
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #56de78;
}

#header_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1987;
}

#detail_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0;
}

#detail_meninges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #999999;
}

#detail_left_hemi {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0.71rem 14px 0.71rem 14px;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

#detail_left_hemi img {
  border-radius: 7px;
}

#detail_right_hemi {
  width: 57%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.71rem 14px 0.71rem 7px;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  background-color: #ecececec;
}

#google_review_div_toggle_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#native_review_div_toggle_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#google_review_div_toggle {
  font-size: 1.35rem;
}

#restaurant_container {
  background-color: #eeeeeebc;
  padding: 4vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
}

#profile_skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#friend_container {
  width: 20%;
  background-color: #e5c3cf77;
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile_container {
  width: 53%;
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeeebc;
}

#favorite_container {
  width: 20%;
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e5c3cf77;
}

#selected_fire_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 37px;
}

#detail_name p {
  font-size: 1.72rem;
}

#detail_address {
  margin-bottom: 1rem;
}

#detail_pricelv {
  margin-bottom: 1rem;
}

#detail_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 12rem;
  background-color: #eeeeeebc;
}

#ophours_content_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#add_favorite {
  border: 1px solid #999999;
  padding: 0 0.79rem;
}

#atop_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#detail_box {
  width: 100%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#extra_profile {
  border: solid 2px;
}

#filters {
  width: 100%;
  padding: 11rem 31vw 6rem 23vw;
  position: fixed;
  height: auto;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  z-index: 528;
}

#new_comment_board {
  width: 28rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 47%;
  left: calc(50% - 14rem);
}

#rid {
  display: none;
}

#filters_pleura {
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 3vw;
  background-color: #eeeeeebc;
  border-radius: 7px;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10vw;
  margin-top: -3rem;
  height: auto;
  min-height: 100%;
  width: 100%;
  background-image: url("../background_img/bg-01.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* Safari */
}

#restaurant_skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem 12rem;
}

#show_friend {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

#show_favorite {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

#update_profile {
  border: #999999 4px solid;
}

#id_label_9 {
  width: 2.9rem;
}

#rating_form {
  margin-left: 1rem;
}

#easter_egg {
  position: fixed;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(50vh - 150px);
  left: calc(50vw - 250px);
  background-color: #f3f3f3;
}

#easter_egg button {
  margin-top: 10px;
  background-color: #F195B2;
  border-radius: 7px;
}

[id^="profile_div_title_"] {
  min-height: 7vh;
  border-bottom: #999999 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

[id^="profile_div_title_"] p {
  display: inline-block;
  color: #999999;
  font-size: 89%;
  font-family: "Poppins", sans-serif;
}

[id^="profile_div_content_"] {
  min-height: 7vh;
}

[id^="profile_div_content_"] p {
  display: inline-block;
  font-size: 127%;
  font-family: "Poppins", sans-serif;
}

label[for^="id_label_"] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

label[for^="id_label_"] span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

span.select2-container .select2-selection--multiple {
  min-height: 47px;
  border-radius: 7px;
  border: #999999 2px solid;
}

span.select2 select2-container .select2-container--default .select2-container--below {
  width: 100%;
}

li.select2-selection__choice {
  border-radius: 7px !important;
}
/*# sourceMappingURL=style.css.map */