@font-face {
  font-family: v92r;
  src: url(../fonts/v92r.otf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* input[type="number"] {
  -moz-appearance: textfield;
}

.btn-outline-warning {
  border-color: #ff2667;
}

.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

button {
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255, 255, 255, 0.1);
}

span {
  font-family: Ubuntu-Regular;
}

div.title {
  font-size: 2em;
}

h1 span {
  font-weight: 300;
  color: #Fd4;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 0.23rem;
  font-size: 1.2rem;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.rev-box {
  overflow: hidden;
  height: 0;
  width: 100%;
  -webkit-transition: all .25s;
  transition: all .25s;
}

textarea.review {
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #EEE;
}

label.review {
  display: block;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

input.star:checked ~ .rev-box {
  height: 125px;
  overflow: visible;
}

header.nav_header {
  padding: 20px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav.outer_nav {
  width: 100%;
}

header.nav_header nav.outer_nav nav.inner_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav.outer_nav nav.inner_nav div.nav_item {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.nav_header nav.outer_nav nav.inner_nav div.nav_item a {
  text-decoration: none;
}

header.nav_header nav.outer_nav nav.inner_nav div.logo {
  font-size: 2rem;
}

header.nav_header nav.outer_nav nav.inner_nav div.logo a.logolonk {
  text-decoration: none;
}

header.nav_header nav.outer_nav nav.inner_nav div.logo a.logolonk :visited {
  text-decoration: none;
}

p.item_name_p {
  font-size: 141%;
  display: inline-block;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 7px;
  cursor: pointer;
}

p.item_name_p:hover {
  background-color: #ff2667;
  color: white;
}

p.item_rating_plv_p {
  font-size: 89%;
}

p.item_address_p {
  font-size: 119%;
}

p.item_ophours_p {
  font-size: 119%;
}

p.item_opdays_p {
  font-size: 100%;
}

p.weblink a {
  color: black;
  font-size: 100%;
}

a.page {
  font-size: 1.58rem;
}

a.nav {
  font-size: 1.58rem;
}

a.weblink_a {
  background-image: -webkit-gradient(linear, left top, right top, from(#dd94c8), color-stop(50%, #dd94c8), color-stop(50%, #000));
  background-image: linear-gradient(to right, #dd94c8, #dd94c8 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.weblink_a:before {
  content: '';
  background: #dd94c8;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.weblink_a:hover {
  background-position: 0;
}

a.weblink_a:hover::before {
  width: 100%;
}

.nav_title {
  font-size: 1.58rem;
  font-weight: 500;
  color: #5e5e5e;
}

.nav_title:hover {
  color: #ff2667;
  cursor: pointer;
}

.js-example-basic-multiple {
  width: 75%;
}

.js-example-basic-single {
  border-radius: 7px;
  max-height: 47px;
  border: 2px solid #999999;
}

.c_item_body {
  padding: 0 1rem;
}

.c_rating_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.full_op_box {
  width: auto;
  height: auto;
  padding: 0.28rem 0.67rem;
  background-color: #dbdbdbfc;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid;
  border-radius: 7px;
  z-index: 527;
}

.div_in_empty_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div_in_empty_div div {
  display: inline-block;
}

.holo_div {
  height: 2.47rem;
}

.ophours_content_sub_div {
  padding: 0 0.23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ophours_content_separator {
  border-left: #999999 1px solid;
}

.filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.4rem;
}

.filter_title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.filter_title_text {
  font-size: 133%;
  display: inline-block;
}

.profile_div_box {
  margin: 0.41rem 0;
  background-color: #dbdbdbfc;
  height: auto;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
}

.profile_filling {
  font-size: 28px;
}

.starred_icon {
  background-image: url("../icon/star_glow.png");
  height: 1rem;
}

.friend_box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favorite_box {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friend_case {
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.41rem;
  background-color: #fcfcfc;
}

.friend_right_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friend_left_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friend_left_hemi img {
  max-height: 79%;
  max-width: 79%;
  border-radius: 79%;
}

.name_box {
  margin: 0 1rem;
}

.name_box * {
  color: #565656;
}

.name_box p {
  font-size: 1.76rem;
}

.restaurant_box_left_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
}

.restaurant_box_left_hemi img {
  border-radius: 7px;
}

.restaurant_box_right_hemi {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7rem 0;
}

.restaurant_box_dura {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.23rem;
  margin-left: 10px;
  border-left: #dddddddd 1px solid;
}

.op_text_div {
  padding: 0 3px;
}

.op_text_p {
  cursor: pointer;
}

.op_hours_button {
  font-size: 1.1rem;
}

.favorite_case {
  padding: 0 0.59rem;
  margin: 0.41rem;
  border-radius: 7px;
  background-color: #dbdbdbfc;
  height: 4.24rem;
  cursor: pointer;
}

.favorite_store_t {
  background-color: goldenrod;
}

.starred_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.toggle_favorite {
  display: inline-block;
  height: 1.58rem !important;
  cursor: pointer;
}

.toggle_favorite:hover {
  cursor: pointer;
}

.social_info_div {
  margin-top: 0.7rem;
}

.item_social_info_p {
  font-size: 79%;
}

.restaurant_box {
  background-color: #f8f8f8ee;
  margin: 2vh 2vw;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_ophours_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.item_address_div {
  margin-top: 1rem;
}

.op_cond {
  border-radius: 7px;
}

.op_cond button {
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.review_box {
  border-radius: 7px;
  padding: 10px;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
}

.native_new_review_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  border-radius: 7px;
  padding: 0.67rem 1rem;
  margin: 0.23rem 0;
  background-color: #f3f3f3;
  border-bottom: #999999 1px solid;
  background-color: #f3f3f3;
}

.native_new_review_block_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  border-radius: 7px;
  padding: 0.67rem 1rem;
  margin: 0.23rem 0;
  background-color: #f3f3f3;
  border-bottom: #999999 1px solid;
  background-color: #f3f3f3;
}

.native_new_review_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.native_new_review_content {
  height: auto;
  width: 100%;
}

.native_new_review_content span {
  display: inline-block;
}

.native_new_review_content textarea {
  padding-left: 0.33rem;
  width: 100%;
  border: 1px solid;
  border-radius: 7px;
}

.native_new_review_bottom {
  height: 35px;
}

.native_new_review_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.67rem;
}

.native_new_review_title input {
  border-radius: 7px;
  padding-left: 0.33rem;
  border: 1px solid;
}

.native_new_review_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.native_new_review_time p {
  font-size: 1rem;
  color: #9c9c9c;
}

.native_new_review_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.native_review_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  border-radius: 7px;
  padding: 0.67rem 1rem;
  margin: 0.23rem 0;
  background-color: #f3f3f3;
  border-bottom: #999999 1px solid;
}

.native_review_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.native_review_content {
  max-height: 300px;
  width: 100%;
}

.native_review_content span {
  display: inline-block;
}

.native_rating_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.native_rating_container img {
  width: 1.18rem;
  margin-right: 0.27rem;
}

.native_review_bottom {
  height: 35px;
}

.native_review_bottom button {
  margin-right: 1rem;
}

.native_review_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.97rem;
  margin-top: 0.3rem;
  margin-left: 0.67rem;
  padding-left: 1.67rem;
  border-left: #9c9c9c 1px solid;
}

.native_review_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.native_review_time p {
  font-size: 1rem;
  color: #9c9c9c;
}

.native_review_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty_review_div {
  width: 100%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  background-color: #f3f3f3;
}

.container-login100 {
  height: auto;
}

.review_user_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.native_new_user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
}

.review_user_avatar {
  width: 4rem;
  margin-right: 1rem;
  border-radius: 7px;
}

.user_name_in_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_name_in_review span {
  font-size: 1.41rem;
}

.review_user_name_div p {
  font-size: 1.41rem;
}

.review_user_name_date_div {
  margin-left: 0.67rem;
}

.fresh_review_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fresh_review_head div {
  width: auto;
}

.fresh_review_neck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fresh_review_head_neck {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #13345678;
}

.fresh_review_body {
  border-bottom: 1px solid #13345678;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 5rem;
  min-height: 9.1rem;
  margin: 0.31rem 0;
  overflow: scroll;
}

.fresh_review_legs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 11px;
}

.fresh_review_legs div {
  border-radius: 7px;
}

.c_item_head div img {
  border-radius: 7px;
}

.campaign_container {
  padding: 0 1rem;
}

.campaign_option_div {
  width: 32px;
  height: 32px;
}

.campaign_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.campaign_item {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.campaign_item:hover {
  cursor: pointer;
}

.campaign_head_box {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.campaign_title_div_box span {
  font-size: 1.7rem;
}

.campaign_box {
  margin-bottom: 1.24rem;
}

#dot_loading {
  position: absolute;
  width: 8rem;
  height: 4rem;
  z-index: 8888;
  top: calc(50vh - 8rem);
  left: calc(50vw - 4rem);
}

#dot_loading::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #151515c5;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: dotFlashing 1s infinite linear alternate;
          animation: dotFlashing 1s infinite linear alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

.snippet {
  position: relative;
  padding: 2rem 5%;
  margin: 1.5rem 0;
}

.examples .snippet:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  content: attr(data-title);
  font-size: .75rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: white;
  background-color: #ff1964;
  border-radius: .25rem 0 .25rem 0;
}

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

.filter-contrast {
  -webkit-filter: contrast(5);
          filter: contrast(5);
  background-color: white;
}

.star_in_campaign {
  width: 1.18rem !important;
  margin-right: 0.27rem !important;
}

.campaign_body_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination,
.pagination * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.pagination a.disabled {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination a.current {
  border-radius: 1.58rem;
  width: 2.68rem;
  text-align: center;
}

.btn {
  color: #888 !important;
}

.btn_medium {
  border-radius: 7px;
}

.btn-primary_light {
  background-color: #ffffff66;
  margin: 0 1rem;
}

.status_1 {
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #999999;
}

.status_2 {
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #ef4455;
}

.status_3 {
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #7cf1d4;
}

#mai_iam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: v92r;
}

#mai_iam span {
  font-family: v92r;
}

#mai_iam div {
  font-family: v92r;
  font-size: 4.74rem;
  position: absolute;
  top: calc(-100% - 1.95rem);
  left: calc(-100% - 10.77rem);
}

#mai_a {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 17rem !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

#omni_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0 !important;
}

#navbarCollapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

#nav_logo {
  height: 4.7rem;
}

#filter_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

#filter_caption span {
  font-size: 1.27rem;
}

#instruction_1 {
  border-bottom: 1px solid;
}

#header_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1987;
}

#dummy {
  width: 1280px;
  height: 1920px;
  padding: 6rem 0;
}

#detail_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0 2rem 0;
}

#detail_meninges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #999999;
}

#detail_left_hemi {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0.71rem 14px 0.71rem 14px;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

#detail_left_hemi img {
  border-radius: 7px;
}

#detail_right_hemi {
  width: 57%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.71rem 1rem;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  background-color: #ecececec;
}

#google_review_div_toggle_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  padding: 0.67rem 6rem;
  margin: 0.23rem 0;
  background-color: #f3f3f3;
  border-bottom: #999999 1px solid;
}

#native_review_div_toggle_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#google_review_div_toggle {
  font-size: 1.35rem;
}

#restaurant_container {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
}

#profile_skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1280px;
  padding: 0 0.41rem;
}

#user_skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1280px;
  padding: 0 0.41rem;
}

#user_container {
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#user_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 33vh;
  margin-bottom: 1rem;
}

#user_left_hemi_pia {
  width: 400px;
}

#user_left_hemi_pia img {
  border-radius: 7px;
}

#user_left_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.67rem 0 1.34rem;
  height: 100%;
  width: auto;
}

#user_right_hemi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  margin: 0 1.34rem 0 0.67rem;
  height: 100%;
  width: auto;
}

#user_right_hemi_pia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.empty_case {
  width: 100%;
}

.empty_content_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#user_sternum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 4rem;
}

#user_omentum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 4rem;
}

#user_peritoneum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-left: 1px solid #999999;
  overflow: scroll;
}

.row_box {
  margin-right: 1rem;
  width: 19.87rem;
}

#user_pleura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-left: 1px solid #999999;
  overflow: scroll;
}

#user_thorax {
  width: 100%;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .47rem 0;
}

#user_abdomen {
  width: 100%;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .47rem 0;
}

#user_avatar {
  width: 328px;
}

#cur_profile {
  padding: 0 1rem;
  width: 100%;
}

#edit_profile_btn_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#edit_profile_btn {
  margin-right: 1rem;
}

#show_profile_btn_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#show_profile_btn {
  margin-right: 1rem;
}

#friend_container {
  width: 28rem;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile_container {
  width: 53%;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#favorite_container {
  width: 28rem;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

#add_to_wish_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#selected_fire_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

#detail_name p {
  font-size: 1.72rem;
}

#detail_address {
  margin-bottom: 1rem;
}

#detail_pricelv {
  margin-bottom: 1rem;
}

#detail_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4rem;
  width: 1280px;
}

#ophours_content_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#add_favorite {
  border: 1px solid #999999;
  padding: 0 0.79rem;
}

#atop_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#detail_box {
  width: 100%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#extra_profile {
  width: 100%;
  padding: 0 1rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
}

#extra_profile form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#extra_profile form label {
  padding: 0 0.61rem;
  color: #999999;
  font-size: 127%;
  min-height: 2.4rem;
  margin: 0;
  margin-top: 0.41rem;
  border-bottom: 1px solid #999999;
  background-color: #fff;
  border-radius: 7px 7px 0 0;
}

#extra_profile form input {
  padding: 0 0.61rem;
  font-size: 127%;
  border-radius: 0 0 7px 7px;
  margin-bottom: 0.41rem;
  min-height: 2.4rem;
}

[id^="manipulate_box_"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[id^="manipulate_box_"] button {
  margin: 0 0.29rem;
  line-height: 0.67;
}

#filters {
  width: 1280px;
  padding: 4.64rem 0;
  position: absolute;
  height: auto;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  left: calc(50% - 640px);
  z-index: 528;
}

#filters::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #151515c5;
}

#new_comment_board {
  width: 41rem;
  height: 26rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: calc(50% - 6rem);
  left: calc(50% - 20rem);
}

#new_comment_board::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #151515c5;
}

#new_comment_board_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#rid {
  display: none;
}

#filters_pleura {
  width: 21rem;
  height: auto;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  background-color: #f7f7f7d4;
  border-radius: 7px;
}

#restaurant_transmembrane {
  margin: 0 2vw;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -6rem;
  height: auto;
  position: relative;
  /* Safari */
}

#restaurant_skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem 0;
  width: 1280px;
}

#show_friend {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

#show_favorite {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

#id_label_9 {
  width: 2.9rem;
}

#rating_form {
  margin-left: 1rem;
}

#easter_egg {
  position: fixed;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(50vh - 150px);
  left: calc(50vw - 250px);
  background-color: #f3f3f3;
  z-index: 19871987;
}

#easter_egg button {
  margin-top: 10px;
  border-radius: 7px;
}

[aria-label="Next"] {
  position: absolute;
  top: -41px;
  left: 17px;
  font-size: 5.33rem;
}

[aria-label="Previous"] {
  position: absolute;
  top: -41px;
  left: 17px;
  font-size: 5.33rem;
}

[aria-label="Previous"]:hover {
  color: black !important;
}

[aria-label="Next"]:hover {
  color: black !important;
}

[id^="item_img_"] {
  cursor: pointer;
}

[id^="profile_div_title_"] {
  min-height: 1.58rem;
  border-bottom: #999999 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

[id^="profile_div_title_"] p {
  padding: 0 0.61rem;
  display: inline-block;
  color: #999999;
  font-size: 127%;
  font-family: "Poppins", sans-serif;
}

[id^="profile_div_content_"] {
  min-height: 1.58rem;
}

[id^="profile_div_content_"] p {
  padding: 0 0.61rem;
  display: inline-block;
  font-size: 127%;
  font-family: "Poppins", sans-serif;
}

label[for^="id_label_"] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label[for^="id_label_"] span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 91% !important;
}

span.select2-container .select2-selection--multiple {
  border-radius: 7px;
  border: #999999 2px solid;
}

span.select2 select2-container .select2-container--default .select2-container--below {
  width: 100%;
}

li.select2-selection__choice {
  border-radius: 7px !important;
}

#preroot {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: display_none;
          animation-name: display_none;
  -webkit-animation-delay: 335s;
          animation-delay: 335s;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1987528;
}

#mai_container {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20vh;
}

#mai_title_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20vh;
}

#mai_title_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mai_subtitle_container {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 33vh;
}

#mai_subtitle span {
  font-size: 2.47rem;
  font-style: italic;
  -webkit-animation: fade_in;
          animation: fade_in;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.interspace {
  margin: 0 0.6rem;
}

.suffix {
  font-size: 4rem;
}

.suffix p {
  -webkit-animation: fade_in_out;
          animation: fade_in_out;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 6rem;
  font-family: v92r;
  color: #ff9aba;
}

.prefix {
  font-size: 4rem;
}

.prefix p {
  font-size: 6rem;
  font-family: v92r;
  color: #ff9aba;
}

.key_box {
  padding: 0 0.61rem;
  border-bottom: #999999 1px solid;
}

.value_box {
  padding: 0 0.61rem;
}

.user_case {
  width: calc(50% - 4px);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_case_left_hemi img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

#pref1 {
  -webkit-animation: move1 1.25s 3.25s;
          animation: move1 1.25s 3.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#pref2 {
  -webkit-animation: move2 1.25s 3.25s;
          animation: move2 1.25s 3.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#pref3 {
  -webkit-animation: move3;
          animation: move3;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-delay: 3.25s;
          animation-delay: 3.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade_in_out {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_in_out {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move1 {
  0% {
  }
  100% {
    -webkit-transform: translateX(13vw);
            transform: translateX(13vw);
  }
}

@keyframes move1 {
  0% {
  }
  100% {
    -webkit-transform: translateX(13vw);
            transform: translateX(13vw);
  }
}

@-webkit-keyframes move2 {
  0% {
  }
  100% {
    -webkit-transform: translateX(11vw);
            transform: translateX(11vw);
  }
}

@keyframes move2 {
  0% {
  }
  100% {
    -webkit-transform: translateX(11vw);
            transform: translateX(11vw);
  }
}

@-webkit-keyframes move3 {
  0% {
  }
  100% {
    -webkit-transform: translateX(4vw);
            transform: translateX(4vw);
  }
}

@keyframes move3 {
  0% {
  }
  100% {
    -webkit-transform: translateX(4vw);
            transform: translateX(4vw);
  }
}

@-webkit-keyframes display_none {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes display_none {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: #1c1c23;
  color: #888;
}

i {
  cursor: pointer;
  padding: 10px 12px 8px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 15px;
  color: #aaa;
  -webkit-transition: .2s;
  transition: .2s;
}

i:hover {
  color: #666;
}

i:before {
  font-family: fontawesome;
  content: '\f004';
  font-style: normal;
}

span.heart {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  visibility: hidden;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: -2;
  color: #00000000;
  font-weight: 400;
}

i.pressed {
  -webkit-animation: size .4s;
          animation: size .4s;
  color: #e23b3b;
}

span.heart.pressed {
  bottom: 120px;
  visibility: visible;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.current {
  background-color: #ff2667;
  border-radius: 7px;
}

@-webkit-keyframes fade {
  0% {
    color: #00000000;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: #00000000;
  }
}

@keyframes fade {
  0% {
    color: #00000000;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: #00000000;
  }
}

@-webkit-keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 14px 16px 12px;
    margin-top: -4px;
  }
  100% {
    padding: 10px 12px 8px;
  }
}

@keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 14px 16px 12px;
    margin-top: -4px;
  }
  100% {
    padding: 10px 12px 8px;
  }
}
/*# sourceMappingURL=style.css.map */