* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

header.nav_header {
    background-color: cornflowerblue;
    padding: 20px 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    nav {
        display: flex;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        div.nav_item {
            flex-basis: 150px;
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
            }
        }
        div.logo {
            font-size: 2rem;
            a.logolonk {
                text-decoration: none;
                 :visited {
                    text-decoration: none;
                }
            }
        }
    }
}

.js-example-basic-multiple {
    width: 75%;
}

.restaurant_box {
    border: solid 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.review_box {
    border: solid 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.pagination {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &,
    * {
        user-select: none;
    }
    a {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        &.disabled {
            opacity: .3;
            pointer-events: none;
            cursor: not-allowed;
        }
        &.current {
            background: #f3f3f3;
        }
    }
}

#restaurant_container {
    padding: 4vh 10vw;
    display: flex;
    flex-direction: column;
}

#detail_name {
    color: cornflowerblue;
}

#detail_display {
    padding: 10vh 10vw;
    border: solid 4px;
    display: flex;
    flex-direction: column;
}

#selected_fire {
    width: 7vw;
    height: 4vw;
}

#selected_fire_container {
    display: flex;
    justify-content: center;
}